---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Header from '../components/Header/Header.astro';
import * as CONFIG from '../config';
import type { MarkdownHeading } from 'astro';
import CopyButton from '../components/Common/CopyButton.svelte'

type Props = {
	frontmatter: CONFIG.Frontmatter;
	headings: MarkdownHeading[];
};

const { frontmatter, headings } = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
import CodePlus from '../components/Common/CodePlus.astro';
import FormBuilderWrapper  from "../components/Common/FormBuilderWrapper.svelte";
import PageContent from '../components/PageContent/PageContent.astro';
import LeftSidebar from '../components/LeftSidebar/LeftSidebar.astro';

---

<html dir={frontmatter.dir ?? 'ltr'} lang={frontmatter.lang ?? 'en-us'} class="initial">
	<head>
		<HeadCommon />
		<HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} />
		<title>
			{frontmatter.title ? `${frontmatter.title} ${CONFIG.SITE.title}` : CONFIG.SITE.title}
		</title>
		<style>
			body {
				width: 100%;
			}		

			.grid-sidebar{
				width: 100%;
				height: 100%;
			}
		</style>
		<style is:global>
			.mobile-sidebar-toggle {
				overflow: hidden;
			}
			.highlight{
				color: #45ba4b
			}


			.hero{
				border-bottom: 2px solid #45ba4b;
				background-color: #222222;
				color:#fff;
				min-height: 150px;
			}
			.subheading{
				padding:20px;
				text-align: center;
			}
			.buttons_pzbO{
				margin-top: 25px;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 3rem;	
				margin: 7px;			
			}
		
			.get-started {
				margin-left: 15px;
				border: 2px solid #45ba4b;
				border-radius: 8px;
				color: #fff;
				font-size: 16px;
				font-weight: 700;
				line-height: 1em;
				padding: 14px 20px;
				text-decoration: none!important;
				text-transform: uppercase;
			}

			.get-started:hover {
				background: #45ba4b;
				color: #2b3137;
			}
			.npm-command{
				border-radius: 3px;
			}
			.center{
				display: flex;
				justify-content: center;
				text-align: center;
			}


			#grid-left {
				position: fixed;
				background-color: var(--theme-bg);
				z-index: 10;
				display: none;
			}

			.mobile-sidebar-toggle #grid-left {
				display: block;
				top: 2rem;
			}

			@media (min-width: 50em) {			

				#grid-left {
					display: none;
				}

				.mobile-sidebar-toggle #grid-left {
					display: block;
					top: 4rem;
				}
			}			
		</style>
	</head>

	<body>
		<Header currentPage={currentPage} />

			<div class="center">
				<h1 class='heading'>Build forms faster.</h1>
			</div>

<header class="hero hero--primary heroBanner_UJJx">
	<div class="container">
		<div class="center">
			<h2 class="subheading">The <span class="highlight">No-Code Form Builder</span> for Svelte JS</h2>
		</div>
		<div class="buttons_pzbO">
					
			<a class="get-started" href="/en/intro/docs">Get started</a>
				<CopyButton text="npm i svelte-form-builder-community" kbd={true} client:load></CopyButton>
			</div>

			<div style="text-align: center">

<CodePlus hideCopyButton={true} code={`
import { FormBuilder } from "svelte-form-builder-community";
<FormBuilder {options} />
`}>
</CodePlus>
</div>
	</div>
</header>

<div style="display:contents">
	<FormBuilderWrapper options={{}} marginTop={'2.5rem'} client:load />
</div>

<aside id="grid-left" class="grid-sidebar" title="Site Navigation">
	<LeftSidebar currentPage={currentPage} />
</aside>

	</body>
</html>
